@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');

// Typographies
@mixin noto-sans-tc-16-regular {
  font-family: 'Noto Sans TC';
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}

.text-dialog{
  @include noto-sans-tc-16-regular();
}
